<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Scrapbooks</title>
  <meta name="description" content="">
  <meta name="author" content="">

    <meta name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style type="text/css">
    @import 'assets/css/main.css';
    </style>
    <!--<script src="http://localhost:8080/target/target-script-min.js#9300c88c-a691-11e2-a5a9-12313d150a60"></script>-->
</head>
<body>

<!-- ****** Backbone templates ****** -->

<!-- app view -->
<script type="text/html" id="template-app">
  <nav id="menu" class='hide-nav'>
    <div class='menuUser'>Main Menu</div>
    <a href='#/' data-icon="&#xe02a;" >Home</a>
    <a href='#/create' data-icon="&#xe00f;">Create Scrapbook</a>
    <a href='#/friends' data-icon="&#xe002;">Friends</a>
    <a href='#/profile' data-icon="&#xe007;">Profile</a>
    <a href='#/purchases' data-icon="&#xe02e;">Purchases</a>
    <a href='#/logout' data-icon="&#xe000;">Log out</a>
  </nav>

  <div id="activity" class='hide-activity'>
    <ul>
    <li class='activityHeader'>Friends Activities</li>
    </ul>
  </div>

  <div id="page" class='menu-closed activity-closed'>
    <div id="mask"></div>
    <header>
      <div id="menuTrigger">
        <div class='menu-bar'></div>
        <div class='menu-bar'></div>
        <div class='menu-bar'></div>
      </div>
      <div id="activityTrigger">
        <div class='activity-square'></div>
      </div>
      <div class='appTitle'>Scrapbooks</div>
    </header>
    <div id="fb-root"></div>
    <div id="content"></div>
  </div>
  
</script>

<!-- signup Screen -->
    <script type="text/html" id="template-signup">  
    
      <div class='form'>
        <input type="text" id='signUpEmail' placeholder="Email" class="textbox">
      </div>
      <div class='form'>
        <input type="password" id='signUpPassword' placeholder="Password" class="textbox">
      </div>
      <div class='form'>
        <input type="text" id='signUpFirstName' placeholder="First name" class="textbox">
      </div>
      <div class='form'>
        <input type="text" id='signUpLastName' placeholder="Last name" class="textbox">
      </div>
       <div class='form'>
          <a id='signUpButton' class="btn">Sign up!</a>
          <div class='clear'></div>
          <div class='loginLink'>
            Already got an account? <a href='#/login'>Login with facebook!</a>
          </div>
        </div>
      </div>
    </script>

    <!-- login Screen -->
    <script type="text/html" id="template-login">  
          <a href='#' id='loginButton'></a>
    </script>

 

    <!-- Home Screen -->
    <script type="text/html" id="template-home">  
      <div class='home'>
      </div>
    </script>

    <!-- Edit Screen -->
    <script type="text/html" id="template-edit">
      <div class='actionBar'>
       <a class='navButton' id='prevPage'>Previous</a>
        <a class='navButton' id='nextPage'>Next</a>
        <a class='settingsButton' id='settings'>Settings</a>
      </div>
        <div class='single'>
          <div class='bottomPage'></div>
          <div class='middlePage'></div>
          <div id="bb-bookblock" class="bb-bookblock"></div> <!-- added -->
        </div>
        <div class='clear'></div>
       
    </script>

    <!-- single item -->
    <script type="text/html" id="template-home-item">
        <a class='boxInner' href='#/book/edit/<%= id %>'>
        <div class='tile red t1'></div>
        <div class='tile red t2'></div>
        <div class='tile red t3'></div>
        <div class='tile red t4'></div>
        <div class='boxTitle'><span class='centerTitle'><%= title %></span></div>
        <div class='tile red t5'></div>
        <div class='tile red t6'></div>
        <div class='tile red t7'></div>
        <div class='tile red t8'></div>
        <div class='tile red t9'></div>
        <div class='tile red t10'></div>
        <div class='tile red t11'></div>
        <div class='tile red t12'></div>
        </a>
        updated 20/02/2012
    </script>

    <!-- single page layout -->
    <script type="text/html" id="template-book-single-one">

    <div class='block col3 row3' data-block-id='<%= blocks[0].id %>' id='<%= blocks[0].id %>' data-block-type='<%= blocks[0].type %>' data-block-number='<%= blocks[0].blockNumber %>'><%= theContent[0]%></div>
 
    </script>

    <script type="text/html" id="template-book-single-two">

      <div class='block col1 row1' data-block-id='<%= blocks[0].id %>' id='<%= blocks[0].id %>' data-block-type='<%= blocks[0].type %>' data-block-number='<%= blocks[0].blockNumber %>'><%= theContent[0]%></div>

      <div class='block col1 row1' data-block-id='<%= blocks[1].id %>' id='<%= blocks[1].id %>' data-block-type='<%= blocks[1].type %>' data-block-number='<%= blocks[1].blockNumber %>'><%= theContent[1]%></div>

      <div class='block col1 row1' data-block-id='<%= blocks[2].id %>' id='<%= blocks[2].id %>' data-block-type='<%= blocks[2].type %>' data-block-number='<%= blocks[2].blockNumber %>'><%= theContent[2]%></div>

      <div class='block col3 row2' data-block-id='<%= blocks[3].id %>' id='<%= blocks[3].id %>' data-block-type='<%= blocks[3].type %>' data-block-number='<%= blocks[3].blockNumber %>'><%= theContent[3]%></div>

    </script>

     <script type="text/html" id="template-dialog-has-image">
     <div style='text-align:center;'>
      <img style='width:260px; height:260px;' src='http://scrapbook.uk.to/files/<%= content %>' />
     </div>
     <div class='btn removeEle' style='background: rgb(255, 178, 178); width: 240px; margin:0 auto; float: none;'>Remove this image</div>
    </script>

     <script type="text/html" id="template-dialog-has-text">

      <div class="description">Contents of the block:</div>
      <textarea id='blockTextElement' class="textarea"><%= content %></textarea>
     <div class='btn saveTextEle' style='background: rgb(184, 255, 178); width: 240px; margin:0 auto; margin-bottom:10px; float: none;'>save changes</div>
     <div class='btn removeEle' style='background: rgb(255, 178, 178); width: 240px; margin:0 auto; float: none;'>Remove this text block</div>
    </script>

     <script type="text/html" id="template-dialog-new-text">

      <div class="description">Contents of the block:</div>
      <textarea id='blockTextElement' class="textarea"></textarea>
     <div class='btn saveTextEle' style='background: rgb(184, 255, 178); width: 240px; margin:0 auto; margin-bottom:10px; float: none;'>save changes</div>

    </script>

     <script type="text/html" id="template-dialog-has-map">

      i have a map
     
    </script>

     <script type="text/html" id="template-dialog-has-colour">

      i have a colour
     
    </script>

    <script type="text/html" id="template-dialog-new-colour">

    <textarea id='colourChoice' class="textarea"></textarea>
    <div class='btn saveNewColour' style='background: rgb(184, 255, 178); width: 240px; margin:0 auto; margin-bottom:10px; float: none;'>save changes</div>
    </script>

    <!-- double page layout -->
    <script type="text/html" id="template-book-double">
    <div class='double left'>
      <div class='bottomPage'></div>
      <div class='middlePage'></div>
      <div class='topPage'>
        <div class='col3 row1' ></div>
        <div class='col1 row2' ></div>
        <div class='lastCol2 row2' ></div>
      </div>
    </div>

    <div class='double right'>
      <div class='bottomPage'></div>
      <div class='middlePage'></div>
      <div class='topPage'>
        <div class='col1 row3' data-toggle="modal" href="#full-width"></div>
        <div class='lastCol2 row1' data-toggle="modal" href="#full-width"></div>
        <div class='lastCol2 row1' data-toggle="modal" href="#full-width"></div>
        <div class='lastCol2 row1' data-toggle="modal" href="#full-width"></div>

      </div>
    </div>

    </script>

    <!-- Book Edit Screen -->
    <script type="text/html" id="template-book-edit">

        <a class='btn' id='prevPage'>Previous page</a>
        <a class='btn' id='nextPage'>Next page</a>

      <div class='bookEdit padding'>

        <div class='clear'></div>
      </div>
    </script>


    <!-- Book Creation screen -->
    <script type="text/html" id="template-create">
      <div class='create padding'>

        <div class='section'>
          <div class='heading'>About the book</div>
          <div class='infomation'>
            <div class="description">Name of the scrapbook</div>
            <input id='createScrapbookTitle' type="text" class="textbox">
            <div class="description">Description of the scrapbook</div>
            <textarea id='createScrapbookDescription' class="textarea noMarginBottom"></textarea>
          </div>
        </div> 

        <div class='section'>
          <div class='heading'>People</div>
          <div class='infomation'>
            <p>There are current no other editors for this scrapbook</p>
            <a id='chooseFriends' class="btn greenButton">Choose friends</a>
            <div class='clear'></div>
          </div>
        </div>  

          <a id='createScrapbookButton' class="btn">Create Scrapbook!</a>
        
      </div>
    </script>


    <!-- Past Purchases collection screen -->
    <script type="text/html" id="template-purchases">
        <div class='extraInfo'>The scrapbooks you make can be purchased through the actions menu on each book.</div>

    </script>

    <!-- Past Purchases screen -->
    <script type="text/html" id="template-purchase-single">
       <div class='section'>
          <div class='heading'><%= title %></div>
          <div class='infomation'>
            <div class='cover'>
               <a class='boxInner'>
              <div class='tile red t1'></div>
              <div class='tile red t2'></div>
              <div class='tile red t3'></div>
              <div class='tile red t4'></div>
              <div class='boxTitle'><div class='centerTitle'><%= title %></div></div>
              <div class='tile red t5'></div>
              <div class='tile red t6'></div>
              <div class='tile red t7'></div>
              <div class='tile red t8'></div>
              <div class='tile red t9'></div>
              <div class='tile red t10'></div>
              <div class='tile red t11'></div>
              <div class='tile red t12'></div>
              </a>
            </div>
            <div class='date'><%= date %></div>
            <div class='desc'><%= description %></div>
            <div class='clear'></div>
          </div>
        </div> 
    </script>


    <!-- Modal / Dialog screen -->
    <script type="text/html" id="template-dialog">

    <div class='dialog'>
      <div class='header'></div>
      <div class='inner'>
       
      </div>
    </div>
    <div class='dialogMask'></div>

    </script>

 <!-- Modal / Dialog screen options -->
    <script type="text/html" id="template-dialog-options">

    <h1>Set the content of this block</h1>
        <div class='blockType takePhoto'>Camera</div>
        <div class='blockType library'>Library</div>
        <div class='blockType writeText'>Write Text</div>
        <div class='blockType map'>Map</div>
        <div class='blockType colour'>Colour</div>

    </script>


    <!-- Modal / Dialog screen options -->
    <script type="text/html" id="template-dialog-settings">
      <h1>Settings of the page</h1>
      <div class='btn settingsButtonsEditor changeTemplate'>Change page template</div>
      <div class='btn settingsButtonsEditor removePage'>Remove this page</div>

      <div style='clear:both;'></div>
      <h1>Settings of the app</h1>
      <div class='btn settingsButtonsEditor editDetails'>Edit scrapbook details</div>
      <div class='btn settingsButtonsEditor editEditors'>Change editors</div>
      <div class='btn settingsButtonsEditor share'>Share this scrapbook</div>
      <div class='btn settingsButtonsEditor buy'>Purchase this scrapbook</div>
      <div class='btn settingsButtonsEditor deleteScrapbook'>Delete scrapbook</div>
    </script>

    <script type="text/html" id="template-dialog-settings-scrapbook">
      <h1>Edit scrapbook details</h1>
      <div class="description">Title of scrapbook</div>
      <input id='scrapbookTitleDetail' value='<%= title %>' class="textbox" >
      <div class="description">Description</div>
      <textarea id='scrapbookDescriptionDetail' class="textbox" ><%= description %></textarea>
      <div class='btn updateNewDetails'>Save</div>
    </script>

    <script type="text/html" id="template-dialog-settings-remove-page">
      <h1>remove this page</h1>
      <p style='color: #333; margin-bottom:20px;'>Please note once a page has been removed the action can not be undone!</p>
      <div class='btn settingsButtonsEditor deletePageRequest'>Remove</div>
    </script>

    <script type="text/html" id="template-dialog-settings-change-friends">
      <h1>Update which friends have access to this book</h1>
    </script>

    <script type="text/html" id="template-dialog-settings-template">
      <h1>Change the template</h1>
      <div class='btn tpl1 templateButton'>Template 1</div>
      <div class='btn tpl2 templateButton' style='margin-left:8%;'>Template 2</div>
      <div class='btn tpl3 templateButton'>Template 3</div>
      <div class='btn tpl4 templateButton' style='margin-left:8%;'>Template 4</div>
      <div class='btn tpl5 templateButton'>Template 3</div>
      <div class='btn tpl6 templateButton' style='margin-left:8%;'>Template 4</div>
    </script>
     
    <script type="text/html" id="template-dialog-settings-delete">
      <h1>Are you sure you want to delete this book?</h1>
      <div class='btn deleteScrapbookRequest'>Delete</div>
    </script>

    <script type="text/html" id="template-dialog-settings-share">
      <h1>Share this book!</h1>
    </script>

    <!-- Profile screen -->
    <script type="text/html" id="template-profile">
      <div class='profile'>

      <div class='section'>
         <div class='heading'>About you</div>
         <div class='infomation'>
          <div class="description">First name</div>
          <input id='profileFirstName' value='<%= firstName %>' type="text" class="textbox">
          <div class="description">Last name</div>
          <input id='profileLastName' value='<%= lastName %>' class="textbox" >
          <div class="description">Email address</div>
          <input id='profileEmail' value='<%= email %>' class="textbox" >
          <div class="description">Your location</div>
          <input id='profileLocation' value='<%= location %>' class="textbox noMarginBottom" >
        </div>
      </div> 
        <a id='profileSave' class="btn">Update profile!</a>
      </div>

      </div>
    </script>


    <!-- Friends screen -->
    <script type="text/html" id="template-friends">
      <div class='section'>
        <div class='heading'>Invite friends</div>
        <div class='infomation'>
          <p>Invite your friends to install scrapbooka and let them help you create amazing scrapbooks!</p>
          <a id='addFriendFacebook' class="btn greenButton" style=''>Invite your friends via facebook</a>
          <div class='clear'></div>
        </div>
      </div> 

     <!-- <div class='section'>
        <div class='heading'>Find friends</div>
        <div class='information '>
          <p>Before you can add people to become editors in your scrapbooks you must first add them as a friend.</p>
          <div class="description">Friends email address</div>
          <input id='friendsEmail' class="textbox" >
          <a id='addFriendFacebook' class="btn greenButton" style=''>Search for friend</a>
          <div class='clear'></div>
        </div>
      </div> -->

      <div class='section'>
        <div class='heading'>Your friends</div>
        <div class='information friendList'> 

          You currently do not have any friends that installed the appliation! USe the button above to send an invite.

        </div>
        <div class='clear'></div>
      </div> 
        
    </script>

    <!-- Friends screen -->
    <script type="text/html" id="template-single-friend">

      <div class='friend'>
         <div class='friendPicture'><img style='width:100%; height:100%; background:url("<%= picture %>"); background-size:cover; ' src='' /></div>
         <div class='friendInfo'>
            <div><%= firstName %> <%= lastName %></div>
         </div>
      </div>

    </script>

        <!-- Friends screen -->
    <script type="text/html" id="template-single-add-friends">

      <div class='friend' id='<%= id %>' style='width:25%; height:25%; padding:10px; box-sizing: border-box'>
         <div class='friendPicture'><img style='width:100%; height:100%; background:url("<%= picture %>"); background-size:cover; ' src='' /></div>
         <div class='friendInfo'>
            <div><%= firstName %> <%= lastName %></div>
         </div>
      </div>

    </script>

    <!-- timeline screen -->
    <script type="text/html" id="template-timeline">
    <div data-icon="<%= icon %>"><%= name %> <%= message %> on page <%= pageNumber %> of <%= title %></div>
       
    </script>

            

    <!-- Modal screens -->


    <script type="text/html" id="template-modal-overview">

        <h1>Customise a block</h1>
        <div class='scroll'>
          <h2>Content</h2>
            <img class='content' src='test'/>
            <div id='changeBlock' class='btn'>Change the block</div>
            <div id='changeBorderStyle' class='btn'>Change the border styles</div>
          <div class='clear'></div>
          
        </div>
    </script>



    <script type="text/html" id="template-modal-block-selection">

        <h1>Block Type</h1>
        <div class='scroll'>
          <h2>Content</h2>
            <div id='choosePhoto' class='btn'>Take a new photo</div>
            <div id='chooseLibrary' class='btn'>Use a photo from your library</div>
            <div id='chooseText' class='btn'>Make this a text box</div>
            <div id='chooseEmpty' class='btn'>Make this block empty </div>
          <div class='clear'></div>
          
        </div>
    </script>

    <script type="text/html" id="template-modal-edit-text">
      <h1>Edit the text</h1>
      <div class='scroll'>
        <h2>Content</h2>
          <p>Edit text here</p>
        <div class='clear'></div>
        
      </div>
    </script>    

    <script type="text/html" id="template-modal-edit-camera">
      <h1>Edit the text</h1>
      <div class='scroll'>
        <h2>Content</h2>
          <p>Take a new photo...</p>
        <div class='clear'></div>
        
      </div>
    </script>    

    <script type="text/html" id="template-modal-edit-library">
      <h1>Edit the text</h1>
      <div class='scroll'>
        <h2>Content</h2>
          <p>Upload an only photo...</p>
        <div class='clear'></div>
        
      </div>
    </script>


<script type="text/html" id="template-modal-border">

        <h1>Border Styles</h1>
        <div class='scroll'>
          <h2>Border Colour</h2>
            <div class='border-colour white'><div class='active'></div></div>
            <div class='border-colour black'></div>
            <div class='border-colour red'></div>
            <div class='border-colour green'></div>
            <div class='border-colour blue'></div>
          <div class='clear'></div>
          <h2>Border size</h2>
            <div class='border-style solid'></div>
            <div class='border-style dashed'></div>
            <div class='border-style dotted'></div>
            <div class='border-style double'></div>
            <div class='clear'></div>
          <h2>Border Radius</h2>
            <div class='border-radius square'></div>
            <div class='border-radius small'><div class='active'></div></div>
            <div class='border-radius round'></div>
            <div class='clear'></div>
          <h2>Border feather</h2>
            <div class='border-style solid'></div>
            <div class='border-style dashed'></div>
            <div class='border-style dotted'></div>
            <div class='border-style double'></div>
            <div class='clear'></div>
        </div>
    </script>

    <!-- Settings screen -->
    <script type="text/html" id="template-settings">
      <div class='settings padding'>
        <div class='form'>
          <p class="description">Send email notifications</p>
          <input type="text" placeholder="Enter your first name..." class="textbox">          
        </div>
        <div class='form'>
          <p class="description">Send push notifications</p>
          <input type="text" placeholder="Enter your last name..." class="textbox">
        </div>
        <div class='form'>
          <p class="description">Where you live</p>
          <input type="text" placeholder="Enter your location..." class="textbox">
        </div>
      </div>
    </script>

  
    
    <script src="phonegap.js"></script>
    <script src="cdv-plugin-fb-connect.js"></script> 
    <script src="facebook-js-sdk.js"></script>
    <script src="childbrowser.js"></script>
    
    <script type='application/javascript' src="assets/js/vendor/jquery/jquery.min.js"></script>
    <script type='application/javascript' src="assets/js/vendor/underscore/underscore.min.js"></script>
    <script type='application/javascript' src="assets/js/vendor/backbone/backbone.min.js"></script>
    <script type='application/javascript' src="assets/js/vendor/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bookBlock/jquerypp.custom.js"></script>
    <script type="text/javascript" src="assets/js/vendor/bookBlock/jquery.bookblock.js"></script>
    
    <script type='application/Javascript' src="app/app.js" ></script>

</body>
</html>
