    .box {
       float: left;
       position: relative;
       width: 20%;
       padding-bottom: 20%;
    }
    .boxInner {
       position: absolute;
       overflow: hidden;
       height: 100%;
       width: 100%;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
       margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box {
          width: 100%;
          padding-bottom: 100%;
       }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box {
          width: 50%;
          padding-bottom: 50%;
       }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
       /* Small desktop / ipad view: 3 tiles */
       .box {
          width: 33.3%;
          padding-bottom: 33.3%;
       }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 25%;
          padding-bottom: 25%;
       }
    }

    .tile
    {
      display: block;
      float:left;
      width:25%;
      background: #ccc;
      height: 25%;
    }
    
    .boxTitle
    {
      font-family: 'Roboto Light';
      width: 100%;
      height:25%;
      float: left;
      background: #ffd7d7;
      text-align: center;
      line-height: 100%;
      display: block;
    }

    .t1
    {
      background: #ffbfbf;
    }
    
    .t2
    {
      background: #ffa4a4;
    }
    
    .t3
    {
      background: #ff9999;
    }    

    .t4
    {
      background: #ff8787;
    }    

    .t5
    {
      background: #ffa9a9;
    }    

    .t6
    {
      background: #f16c6c;
    }

    .t7
    {
      background: #ffbfbf;
    }
    
    .t8
    {
      background: #ffa4a4;
    }
    
    .t9
    {
      background: #ff9999;
    }    

    .t10
    {
      background: #ff8787;
    }    

    .t11
    {
      background: #ffa9a9;
    }    

    .t12
    {
      background: #f16c6c;
    }


    //.boxTitleWrap
    //{
    //  height: 100%;
    //  width: 100%;
    //  display: table;
    //  padding: 8%;
    //  box-sizing: border-box;
    //  font-size: 16px;
    //}
    //.boxTitle
    //  {
    //  font-family: 'Roboto Light';
    //  font-size: 100%;
    //  display: table-cell;
    //  vertical-align: middle;
    //  width: 100%;
    //  margin: 0 auto;
    //  text-align: center;
    //}