    .box
    {
       float: left;
       position: relative;
       width: 16%;
       padding-bottom: 16%;
       margin-left:3%;
       margin-bottom: 3%;
    }

    .homeCreateScrapbook
    {
      background: rgba(255,255,255,0.4);
      color: #999;
      font-size: 88px;
      text-align: center;
      padding-top: 36%;
      width: 100%;
      height: 66%;
    }



    .boxInner
    {
       position: absolute;
       overflow: hidden;
       height: 99%;
       width: 100%;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
       margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box {
          width: 95%;
          margin-left: 3%;
          padding-bottom: 100%;
       }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box {
          width: 46%;
          padding-bottom: 46%;
       }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
       /* Small desktop / ipad view: 3 tiles */
       .box {
          width: 29.3%;
          padding-bottom: 29.3%;
       }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 21%;
          padding-bottom: 21%;
       }
    }

    .tile
    {
      display: block;
      float:left;
      width:25%;
      background: #fff;
      height: 25%;
    }
    
    .boxTitle
    {
      
      position: relative;
      width: 100%;
      height:25%;
      float: left;
      background: #ffd7d7;
      display: block;
      box-sizing: border-box;
       border-top:2px solid #fff;
        border-bottom:2px solid #fff;
        background-color: rgba(255,255,255,0.8) !important;

    }
      .centerTitle
      {
        //font-size:15px;
        //margin-top:-10px; //half the font-size (or (font-size*number of lines)/2)
        position: relative;
        top: 10%;
        font-family: 'Roboto Light';
        color: #666;
        text-align: center;
        display: block;

      }

      .centerTitle:first-letter {
          text-transform: uppercase;
      }

    .t1
    {
      //background: #ffbfbf;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }
    
    .t2
    {
      //background: #ffa4a4;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }
    
    .t3
    {
      //background: #ff9999;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }    

    .t4
    {
      //background: #ff8787;
    }    

    .t5
    {
      //background: #ffa9a9;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }    

    .t6
    {
      //background: #f16c6c;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }

    .t7
    {
      //background: #ffbfbf;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }
    
    .t8
    {
      //background: #ffa4a4;
    }
    
    .t9
    {
      //background: #ff9999;
      border-top:2px solid #fff;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }    

    .t10
    {
      //background: #ff8787;
      border-top:2px solid #fff;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }    

    .t11
    {
      //background: #ffa9a9;
      box-sizing: border-box;
      border-top:2px solid #fff;
      border-right:2px solid #fff;
    }    

    .t12
    {
      border-top:2px solid #fff;
      //background: #f16c6c;
    }


    //.boxTitleWrap
    //{
    //  height: 100%;
    //  width: 100%;
    //  display: table;
    //  padding: 8%;
    //  box-sizing: border-box;
    //  font-size: 16px;
    //}
    //.boxTitle
    //  {
    //  font-family: 'Roboto Light';
    //  font-size: 100%;
    //  display: table-cell;
    //  vertical-align: middle;
    //  width: 100%;
    //  margin: 0 auto;
    //  text-align: center;
    //}

    .settingsButtonsEditor
    {
      width:100% !important;
      height:50px !important;
      line-height: 50px;
      float:none;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    .templateButton
    {
      height: 80px;
      margin-bottom: 20px;
      width: 37%;
      line-height: 80px;
    }

    .templateButtonActive
    {
      background: #94ba2d;
      color: #fff;
    }
