    .box {
       float: left;
       position: relative;
       width: 20%;
       padding-bottom: 20%;
       border:1px dashed green;
    }
    .boxInner {
       position: absolute;
       overflow: hidden;
       height: 100%;
       width: 100%;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
       margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box {
          width: 100%;
          padding-bottom: 100%;
       }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box {
          width: 50%;
          padding-bottom: 50%;
       }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
       /* Small desktop / ipad view: 3 tiles */
       .box {
          width: 33.3%;
          padding-bottom: 33.3%;
       }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 25%;
          padding-bottom: 25%;
       }
    }

    .tile {
      display: block;
      float:left;
      width:25%;
      background: #ccc;
      height: 25%;
      box-sizing:box-border;
      border:1px solid blue;
      padding:1%;
    }
    
    .boxTitle
      {
      font-family: 'Roboto Light';
      vertical-align: middle;
      width: 100%;
      height:25%;
      float: left;
      background: red;
      text-align: center;
      display: block;
    }

    //.boxTitleWrap
    //{
    //  height: 100%;
    //  width: 100%;
    //  display: table;
    //  padding: 8%;
    //  box-sizing: border-box;
    //  font-size: 16px;
    //}
    //.boxTitle
    //  {
    //  font-family: 'Roboto Light';
    //  font-size: 100%;
    //  display: table-cell;
    //  vertical-align: middle;
    //  width: 100%;
    //  margin: 0 auto;
    //  text-align: center;
    //}