    .box
    {
       float: left;
       position: relative;
       width: 16%;
       padding-bottom: 16%;
       margin-left:3%;
       margin-bottom: 3%;
    }

    .boxInner
    {
       position: absolute;
       overflow: hidden;
       height: 100%;
       width: 100%;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
       margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box {
          width: 100%;
          margin-left: 20px;
          margin-right: 20px;
          padding-bottom: 100%;
       }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box {
          width: 46%;
          padding-bottom: 46%;
       }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
       /* Small desktop / ipad view: 3 tiles */
       .box {
          width: 29.3%;
          padding-bottom: 29.3%;
       }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 21%;
          padding-bottom: 21%;
       }
    }

    .tile
    {
      display: block;
      float:left;
      width:25%;
      background: #ccc;
      height: 25%;
    }
    
    .boxTitle
    {
      
      position: relative;
      width: 100%;
      height:25%;
      float: left;
      background: #ffd7d7;
      display: block;
      box-sizing: border-box;
       border-top:2px solid #fff;
        border-bottom:2px solid #fff;

    }
      .centerTitle
      {
        font-size:15px;
        margin-top:-10px; //half the font-size (or (font-size*number of lines)/2)
        position: relative;
        top: 50%;
        font-family: 'Roboto Light';
        color: #666;
        text-align: center;
        display: block;
      }

    .t1
    {
      background: #ffbfbf;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }
    
    .t2
    {
      background: #ffa4a4;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }
    
    .t3
    {
      background: #ff9999;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }    

    .t4
    {
      background: #ff8787;
    }    

    .t5
    {
      background: #ffa9a9;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }    

    .t6
    {
      background: #f16c6c;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }

    .t7
    {
      background: #ffbfbf;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }
    
    .t8
    {
      background: #ffa4a4;
    }
    
    .t9
    {
      background: #ff9999;
      border-top:2px solid #fff;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }    

    .t10
    {
      background: #ff8787;
      border-top:2px solid #fff;
      box-sizing: border-box;
      border-right:2px solid #fff;
    }    

    .t11
    {
      background: #ffa9a9;
      box-sizing: border-box;
      border-top:2px solid #fff;
      border-right:2px solid #fff;
    }    

    .t12
    {
      border-top:2px solid #fff;
      background: #f16c6c;
    }


    //.boxTitleWrap
    //{
    //  height: 100%;
    //  width: 100%;
    //  display: table;
    //  padding: 8%;
    //  box-sizing: border-box;
    //  font-size: 16px;
    //}
    //.boxTitle
    //  {
    //  font-family: 'Roboto Light';
    //  font-size: 100%;
    //  display: table-cell;
    //  vertical-align: middle;
    //  width: 100%;
    //  margin: 0 auto;
    //  text-align: center;
    //}