.form {

  margin-bottom:40px;
  box-sizing: border-box;
  //width:100%;
}

.description {
    width:100%;
    height:20px;
    font-size:13px;
    color: #333;
    margin-bottom: 3px;
  }

.fields:focus {
  background: rgba(0, 0, 0, 0.25);
}
.fields {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 15px;
  color: #222;
  background: #ebebeb;
  font-family: 'Arial';
  font-size: 17px;
  margin-bottom: 25px;
}


 ::-webkit-input-placeholder {
  color: #333;
 }

.textbox {
  @extend .fields;
}

.textarea {
  @extend .fields;
  min-height: 100px;
}

.btn {
    color:rgb(211, 211, 211);
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
    background: rgb(248,248,248);
    float: left;
  }

  .greenButton
  {
    background: #94ba2d;
    color: #fff;
  }

  .noMarginBottom
  {
    margin-bottom: 0px;
  }