.friends
{
	.information:nth-child(2)
	{
		min-height: 150px;
	}
	.friend{
		float: left;
		margin-right: 10px;
		width: 145px;
		height: 200px;
		overflow: hidden;
	}

	.friendPicture
	{
		width:100px;
		height:100px;
		position: relative;
		float: left;
		margin-right: 10px;
		background: url("../#{img}/friends/face1.png");
		background-size:cover; 
	}

	.friendInfo
	{
		float: left;
		width: 160px;
		color: #666;
		font-size: 13px;
		line-height: 20px;
	}
	.friendInfo div:nth-child(1)
	{
		font-weight: bold;
	}
}