.friends
{
	.friend{
		float: left;
		margin-right: 10px;
		width: 270px;
		height: 116px;
	}

	.friendPicture
	{
		width:100px;
		height:100px;
		position: relative;
		float: left;
		margin-right: 10px;
		background: url("../#{img}/friends/face1.png");
		background-size:cover; 
	}

	.friendInfo
	{
		float: left;
		width: 160px;
		color: #666;
		font-size: 13px;
		line-height: 20px;
	}
}