.friendPicker
{
	.information:nth-child(2)
	{
		min-height: 150px;
	}
	.friend{
		float: left;
		margin-right: 10px;
		overflow: hidden;
		width: 120px;
		height: 135px;
		padding: 20px;
		margin-bottom: 10px;
		background: #eee;
	}

	.activeFriend
	{
		background: rgb(205, 240, 182) !important;
	}

	.friendPicture
	{
		width:100px;
		height:100px;
		position: relative;
		float: left;
		margin-right: 10px;
		background: url("../#{img}/friends/face1.png");
		background-size:cover; 
	}


	.friendInfo
	{
		float: left;
		color: #666;
		font-size: 13px;
		line-height: 20px;
	}
	.friendInfo div:nth-child(1)
	{
		font-weight: bold;
	}
}